/* .container {
	width: 400px;
	margin-top: 70px;
	padding: 0 20px;
}

.about {
	width: 100%;
}

.btn {
	width: 100%;
}

.output {
	margin-top: 40px;
}

#output-path {
	font-weight: bold;
} */


*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

main{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	/* align-items: center; */
	background: url("../../assets/Images/orange.jpg");
	background-size: cover;
}

#logo{
	font-family: 'Playfair Display SC', serif;
	font-weight: 3rem;
}

.landing{
	/* padding: 0rem 5rem; */
	position: absolute;
}

